<div class="game">
  <h1>Poker</h1>

  <div class="game-controls">
    <button type="submit"
            class="control"
            ng-click="startGame()">
      Start a New Game
    </button>

    <button type="submit"
            class="control"
            ng-click="showWinner()">
      Show Winner
    </button>
  </div>

  <div class="all-hands">
    <div ng-repeat="hand in hands">
      <div class="hand"
           ng-class="{'highlighted': hand.playerNumber === winner.winningHand}">
        <h2>
          <span ng-if="hand.playerNumber === 2">
            You
          </span>
          <span ng-if="hand.playerNumber !== 2">
            Opponent
          </span>
        </h2>
        <ul class="card-list">
          <li ng-repeat="card in hand.cards"
              ng-bind-html="card | evaluateHtml"
              class="card">
          </li>
        </ul>
        <h3 ng-show="hand.playerNumber === winner.winningHand">
          Score:
          <span ng-bind="winner.winningScore"></span>
        </h3>
      </div>
    </div>
  </div>
  
  <h1 ng-show="!!winner.winningHand && winner.winningHand === 2">
    congrats :)
  </h1>
  <h1 ng-show="!!winner.winningHand && winner.winningHand !== 2">
    better luck next time :'(
  </h1>
</div>


